{% load static %} {% load blogging_tags %}

<!-- {% load i18n %}
{% load tz %} -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'blogging/css/styles.css' %}" rel="stylesheet" />
    <link
      rel="shortcut #A0BEC4"
      href="{% static 'blogging/images/favicon.ico' %}"
      type="image.png"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container" style="margin-left: 5px">
        <!-- Заменить потом ссылку на favicon на страничку создателя сайта -->
        <a class="navbar-brand" href="{% url 'home' %}"
          ><img src="/static/blogging/images/favicon-32x32.png" alt="My logo" />
          The Best MMORPG</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          {% block mainmenu %}
          <ul id="mainmenu" class="navbar-nav ml-auto">
            {% for m in menu %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url m.url_name %}">{{m.title}}</a>
            </li>
            {% endfor %} {% if request.user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'logout' %}"
                >{{ user.username }} | Выйти</a
              >
            </li>
            {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'signup' %}">| Регистрация</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'login' %}">| Войти</a>
            </li>
            {% endif %}
          </ul>
          {% endblock mainmenu %}
        </div>
      </div>
    </nav>

    <!-- Sidebar слева -->
    <!-- ------------------------------------------------------------- -->

    <div class="container text-left" style="margin-left: 5px">
      <div class="row">
        <div class="col-lg-2 col-md-4">
          {% if cat_selected == 0 %}
          <p
            class="text-uppercase"
            style="margin-top: 15px; width: 150px; text-align: center"
          >
            Все категории
          </p>
          {% else %}
          <a
            href="{% url 'home' %}"
            class="btn btn-outline-danger"
            style="width: 150px; margin-top: 15px"
            >Все категории</a
          >
          {% endif %}
          <!-- --------------------------------------           -->
          <!-- {% show_categories %} -->
          <!-- --------------------------------------           -->
          {% for c in cats %}

          <p class="fw-light" style="margin-top: 15px">
            {% if c.pk == cat_selected %}
          </p>
          <p class="font-weight-bold" style="width: 150px; text-align: center">
            {{c.name}}
          </p>
          {% else %}
          <a
            href="{{ c.get_absolute_url }}"
            class="btn btn-outline-dark"
            style="width: 150px"
            >{{c.name}}</a
          >

          {% endif %} {% endfor %}

          <!-- ------------------------ конец перебора ------------------------ -->
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------- -->

    {% block content %} {%endblock content %}
  </body>
</html>
