{% extends 'blogging/base.html' %} {% block content %}
<h1>Удачно удалено</h1>

<div id="content">
    <div class="wrapper text-center" style="padding-top: 100px">
      <pre style="line-height: 1.25; white-space: pre">
          
       \          УДАЛЕНО          /
       \                        /
       \      Комментарий     /
             ]    удалён успешно.  [    ,'|
             ]                     [   /  |
             ]___               ___[ ,'   |
             ]  ]\             /[  [ |:   |
             ]  ] \           / [  [ |:   |
             ]  ]  ]         [  [  [ |:   |
             ]  ]  ]__     __[  [  [ |:   |
             ]  ]  ] ]\ _ /[ [  [  [ |:   |
             ]  ]  ] ] (#) [ [  [  [ :===='
      ]  ]  ]_].nHn.[_[  [  [
      ]  ]  ]  HHHHH. [  [  [
      ]  ] /   `HH("N  \ [  [
      ]__]/     HHH  "  \[__[
      ]         NNN         [
      ]         N/"         [
      ]         N H         [
     /          N            \
    /           q,            \
   /                           \
  
  </pre
      >
    </div>
  </div>

{% endblock content %}
