{% extends 'blogging/base.html' %} {% block content %}

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {% for p in posts %}
    <div class="col" style="padding-top: 20px">
      <div class="card">
        <h5>Категория: {{p.cat}}</h5>
        <p>Дата: {{p.dateCreation|date:"d-m-Y H:i:s"}}</p>
        <small class="text-muted ms-1">
          <b> Автор поста: </b>
          <span class="fst-italic"> </span>
          <span class="fst-italic">{{ p.author }}</span>
          <br />
        </small>
        {% if user.is_authenticated %}
        <br />
        {% if user.id == p.author.id %}

        <div
          class="badge bg-success text-wrap"
          style="font-size: 1em; padding: 0.2em; font-weight: 300"
        >
          МОЯ ПРИВАТНАЯ СТРАНИЦА
          <br />
          (Это мой пост и комменты к нему)
        </div>
        <br />
        <small>
          <a
            href="{% url 'update_blog' p.slug %}"
            target="_blank"
            class="btn btn-outline-success"
            >Изменить</a
          >
          <a
            href="{% url 'delete_blog' p.slug %}"
            class="btn btn-outline-danger"
            >Удалить</a
          >
        </small>
        {% endif %} {% endif %}
        <br />

        {% if p.photo %}
        <img class="rounded-img" src="{{p.photo.url}}" alt="image" />
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{p.title}}</h4>
          <p class="card-text">{{p.text|linebreaks|truncatechars:500}}</p>
          {% if p.upload %}
          <video
            width="320"
            height="240"
            controls
            src="{{ p.upload.url }}"
            alt="video"
          >
            Your browser does not support the video tag.
          </video>
          {% endif %}
          <p>
            <br />
            <a
              href="{{ p.get_absolute_url }}"
              target="_blank"
              class="btn btn-outline-success"
              >Читать пост</a
            >
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<hr />
{% endblock content %}
