{% extends 'blogging/base.html' %} {% load blogging_tags %} {% block content %}

<!-- --------------------------------- -->
{% show_categories 'name' cat_selected %}
<!-- --------------------------------- -->

<div class="container">
  <div class="row">
    <div class="col" style="padding-top: 20px">
      <div class="card">
        <h5>Категория: {{post.postCategory}}</h5>
        <p>Дата: {{post.dateCreation|date:"d-m-Y H:i:s"}}</p>
        {% if post.photo %}
        <img class="card-img-top" src="{{post.photo.url}}" alt="image" />
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{post.title}}</h4>
          <p>Автор поста: {{ post.author }}</p>
          <p class="card-text">{{post.text|linebreaks}}</p>
          {% if post.upload %}
          <video
            width="640"
            height="480"
            controls
            src="{{ post.upload.url }}"
            alt="video"
          >
            Your browser does not support the video tag.
          </video>
          {% endif %}
          <br />
          <!-- ------------------------------- -->
          <br />
          <p>
            <a href="#"> Share this post </a>
          </p>
          <!-- ------------------------------- -->
          {% if user.is_authenticated %} {% if user.if == post.author.id %}
          <a href=" url 'update_blog' " target="_blank" class="btn btn-warning"
            >Изменить</a
          >
          <a href="#" class="btn btn-danger">Удалить</a>
          {% endif %} {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -------------------------------------------------------------- -->
<div class="col-md-8 card mb-4 mt-3">
  <div class="card-body">
    <!-- comments -->
    <h4>{{ feedbacks.count }} комментариев</h4>

    <h1>Комментарии к этому посту:</h1>

    {% for feedback in feedbacks %}
    <div class="col-md-8 card mb-4 mt-3">
      <div class="card-body">
        <p class="font-weight-bold">
          {{ feedback.author }} |
          <span class="text-muted font-weight-normal">
            {{ feedback.dateCreation }}
          </span>
        </p>
        {{ feedback.text | linebreaks }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- ----------------- for post owner ------------ -->

<div class="card-footer">
  <hr />
  {% if user.is_authenticated %} {% if user.id == post.author.id %}
  <a
    href="{% url 'update_blog' post.slug %}"
    target="_blank"
    class="btn btn-outline-success"
    >Редактировать статью</a
  >

  <a href="{% url 'delete_blog' post.slug %}" class="btn btn-outline-danger"
    >Удалить статью</a
  >

  <a href="{% url 'feedback_list' post.slug %}" class="btn btn-outline-primary"
    >Все комментарии к стать</a
  >
  <!-- ----------------- a user makes a new comment ------------ -->
  {% else %}

  <a href="{% url 'feedback_create' post.slug %}" class="btn btn-warning"
    >Оставить комментарий</a
  >
  {% endif %} {% else %}
  <h3>
    ЗАРЕГИСТРИРУЙТЕСЬ и тогда вы сможете опубликовывать свои посты, получать на
    них отклики, модерировать отклики и комментировать посты других
    пользователей
  </h3>
  {% endif %}
  <hr />
</div>

{% endblock content %}
