{% extends 'blogging/base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col" style="padding-top: 20px">
      <div class="card">
        <h5>Категория: {{post.postCategory}}</h5>
        <p>Дата: {{post.dateCreation|date:"d-m-Y H:i:s"}}</p>
        {% if post.photo %}
        <img class="card-img-top" src="{{post.photo.url}}" alt="image" />
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{post.title}}</h4>
          <p class="card-text">{{post.text|linebreaks}}</p>
          {% if post.upload %}
          <video
            width="640"
            height="480"
            controls
            src="{{ post.upload.url }}"
            alt="video"
          >
            Your browser does not support the video tag.
          </video>
          {% endif %}
          <!-- ------------------------------- -->
          <p>
            <a href="#"> Share this post </a>
          </p>
          <!-- ------------------------------- -->
          <a
            href="{{ add_comment_to_post.url }}"
            target="_blank"
            class="btn btn-info"
            >Комментировать</a
          >
          <a href="#" target="_blank" class="btn btn-warning">Изменить</a>
          <a href="#" class="btn btn-danger">Удалить</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
