{% extends 'blogging/base.html' %} {% block content %} {% if
user.is_authenticated %} {% if user.if == post.author.id %}
<h1>Update Post</h1>
<br /><br />

<div class="container">
  <div
    class="badge bg-success text-wrap"
    style="width: 40rem; font-size: 3em; padding: 0.2em; font-weight: 300"
  >
    {{title}}
  </div>
  <p></p>
  <form
    action="{% url 'update_blog' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p>
      <label class="form-label" style="width: 10rem" for="{{ f.id_for_label }}"
        >{{f.label}}:</label
      >
      {{f}}
    </p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Изменить</button>
  </form>
</div>

{% else %} Your're not allowed here (and you know it...) {% endif %} {% else %}
Your're not allowed here (and you know it...) {% endif %} {% endblock content %}
