{% extends 'blogging/base.html' %} {% block content %}
<br />
{% if user.is_authenticated %}
<br />
{% if user.id == post.author.id %}
<h1>Изменение Вашего поста</h1>
<br />

<div class="container">
  <div
    class="badge bg-success text-wrap"
    style="width: 40rem; font-size: 3em; padding: 0.2em; font-weight: 300"
  >
    {{title}}
  </div>
  <p></p>
  <form
    action="{% url 'update_blog' post.slug %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p>
      <label class="form-label" style="width: 10rem" for="{{ f.id_for_label }}"
        >{{f.label}}:</label
      >
      {{f}}
    </p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Изменить</button>
  </form>
</div>

{% else %}
<h1>Your're not allowed here (and you know it...)</h1>
{% endif %}
<br />
{% else %}
<h1>Your're not allowed here (and you know it...)</h1>
{% endif %}
<br />
{% endblock content %}
